<title>Corner Bakery</title>

<!------------------------- Header Image ----------------------->

<div class="card bg-dark text-white">
    <img id="home-header" class="card-img" src="/images/header.jpeg" alt="Card image">
  <div class="card-img-overlay">
    <img src="/images/logo.png" style="margin-left:80%; margin-top:-10px" alt="">

  </div>
</div>

<!------------------------- Home Image Grid --------------------------->


<div class="container home-grid">

  <div class="row">

    <div class="col-lg-4 cup-col">
      <a href="cupcakes">
        <img id="cup-img" src="/images/cupcakes-home.jpeg" alt="">
        <h2 class="cup-text">CUPCAKES</h2>
      </a>
    </div>

    <div class="col-lg-3 cook-col">
      <a href="cookies">
        <img id="cook-img" src="/images/cookies-home.jpeg" alt="">
        <h2 class="cook-text">COOKIES</h2>
      </a>
    </div>

    <div class="col-lg-5 muff-col">
      <a href="muffins">
        <img id="muff-img" src="/images/muffins-home.jpeg" alt="">
        <h2 class="muff-text">MUFFINS</h2>
      </a>

    </div>
  </div>
</div>
