<title>Corner Bakery</title>

<!------------------------- Header Image ----------------------->

<div class="card bg-dark text-white">

    <img id="home-header" class="card-img" src="/images/header.jpeg" alt="Card image">
  <div class="card-img-overlay">
    <img src="/images/logo.png" style="margin-left:80%; margin-top:-10px" alt="">
    <h2 class="cate-types tracking-in-contract-bck ">CATEGORIES</h2>
  </div>
</div>

<!------------------------- Category Image Grid --------------------------->


<div class="container cate-grid">

  <div class="row">

    <div class="col-lg-4 cup-col">
      <a href="cupcakes">
        <img id="cup-img" src="/images/cupcakes-home.jpeg" alt="">
        <h2 class="cup-text">CUPCAKES</h2>
      </a>
    </div>

    <div class="col-lg-3 cook-col">
      <a href="cookies">
        <img id="cook-img" src="/images/cookies-home.jpeg" alt="">
        <h2 class="cook-text">COOKIES</h2>
      </a>
    </div>

    <div class="col-lg-5 muff-col">
      <a href="muffins">
        <img id="muff-img" src="/images/muffins-home.jpeg" alt="">
        <h2 class="muff-text">MUFFINS</h2>
      </a>

    </div>
  </div>
</div>


<!-----------------------  Staff Image Grid  ------------------------>

<h2 id="team-name">Corner Bakery Team</h2>

<div class="container staff-grid">
  <div class="row">

    <div class="col-sm-2">
      <img class="staff1" src="https://img-aws.ehowcdn.com/340x221p/photos.demandstudios.com/getty/article/165/9/92861246.jpg" alt="">
      <h3 style="margin-left:85px; margin-top:20%">
            Senior Baker</h3>
      <h5 style="margin-left:70%; color:#E8AD74">Lorem</h5>
    </div>

    <div class="col-sm-3">
      <img class="staff2" src="https://hotbreadkitchen.org/wp-content/uploads/2015/09/Baker-Headshots_4.1917_0039-e1497541352872-300x300.jpg" alt="">
      <h3 style="margin-left:130%; margin-top:10%;">Master Baker</h3>
      <h5 style="margin-left:133%; color:#E8AD74">Ipsum<h5>
    </div>

    <div class="col-sm-3">
      <img class="staff3 "src="https://hips.hearstapps.com/del.h-cdn.co/assets/cm/15/10/54f63aeb7d70f_-_alonzo_julian-xl.jpg" alt="">
      <h3 style="margin-left:180%; margin-top:12%; padding-right:7%">Senior Baker</h3>
      <h5 style="margin-left:180%; color:#E8AD74">Dolorem</h5>
    </div>
  </div>
</div>
