/************************ NAV BAR **********************/

.home, .about, .news, .cookies, .muffins, .cupcakes {
  text-decoration: none;
  margin-right: 5%;
  font-size: 25px;
}

a:hover {
  text-decoration: none;
}

/************************ Item Images ******************/

img {
  border-radius: 7px;
}

/************************ Add to Cart Buttons **************/

#cookbtn-1, #cookbtn-2 {
  margin-left: 40%;
  margin-top: 10%;
  background-color: blue;
  border-radius: 5px;
}

#cookbtn-3 {
  margin-left: 40%;
  margin-top: 12%;
  background-color: blue;
  border-radius: 5px;
}

#cupbtn-1, #cupbtn-2 {
  margin-left: 40%;
  margin-top: 10%;
  background-color: blue;
  border-radius: 5px;
}

#cupbtn-3 {
  margin-left: 40%;
  margin-top: 7%;
  background-color: blue;
  border-radius: 5px;
}
