/************************ Nav Bar **********************/

.home, .about, .news, .cookies, .muffins, .cupcakes {
  margin-right: 5%;
  font-size: 25px;

}

#nav, #navbarToggleExternalContent {
  background-color: #E8AD74;
}

#menu-btn {
  background-color: #694E34;
}

a {
  color: #fcfbfa;
}

a:hover {
  text-decoration: none;
  color: #694E34;
}

/************************ Category Image Grid ***************/

.cate-grid {
  margin-top: 10%;
  margin-left: 12%;
}

.cate-types {
  text-align: center;
  margin-top: 5%;
  color: #fcfbfa;
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

#cup-img, #muff-img, #cook-img {
  height: 65%;
  border-radius: 0;
}

#cook-img {
  width: 120%;
}

.cup-text, .cook-text, .muff-text {
  position: absolute;
  top: 30%;
  color: #fcfbfa;
}

.cup-text {
  right: 25%;
}

.cook-text {
  right: 10%;
}

.muff-text {
  right: 20%;
}

.cup-col {
  right: 4.5%;
  position: relative;
}

.cup-col:hover {
  opacity: 0.8;
  transition-duration: 0.7s;
}

.cook-col {
  right: 4%;
}

.cook-col:hover {
  opacity: 0.8;
  transition-duration: 0.7s;
}

.muff-col {
  left: 3.8%;
}

.muff-col:hover {
  opacity: 0.8;
  transition-duration: 0.7s;
}

/************** Staff Image Grid *********/


#team-name {
   color: #694E34;
   text-align: center;
   margin-top: -17%;
   margin-bottom: 5%;
}

.staff1 {
  border-radius: 20px 75px;
  margin-left: -20%
}

.staff2 {
  border-radius: 5px;
  width: auto;
  height: 65%;
  margin-left: 85%;
}

.staff3 {
  width: 155%;
  height: 50%;
  border-radius: 75px 20px;
  margin-left: 123%;
}


/************************** Footer *************************/

.container-fluid {
  margin-top: 5%;
  background-color: #694E34;

}

.menu-head {
  margin-left: 39%;
  margin-top: 3%;
  color: #E8AD74;
}

ul {
  list-style-type: none;
  color: #fcfbfa;
  margin-left: 30%;
}

.home-foot, .about-foot, .cookies-foot,
.muffins-foot, .cupcakes-foot {
  margin-right: 5%;
  font-size: 15px;
}

li a:hover {
    color: #E8AD74;
}

.social-head {
  margin-left: 40%;
  margin-top: 3%;
  color: #E8AD74;
}

.icon-item {
  display: inline-block;
  margin-left: 4px;
  margin-top: 10%;
}

.newsletter-head {
  margin-left: 23%;
  margin-top: 3%;
  color: #E8AD74;
  font-size: 22.5px;
}

.news-form {
  margin-right: 25px;
  margin-top: 20px;
}

.btn {
  color: #694E34;
  background-color: #E8AD74;
  border-color: #694E34;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: #fcfbfa;
}


/************************ Image Banners ************************/

img {
  border-radius: 7px;
  box-shadow: 0 4px 8px 0
  rgba(0, 0, 0, 0.2), 0 6px 20px 0;
}

#home-header {
  max-width: 100%;
  height: 300px;
}

#muff-header {
  background: url('/images/muff-banner.jpg') no-repeat center;
  background: cover;
  min-height: 350px;
  position: relative;
}

.muff-types {
  text-align: center;
  margin-top: 8%;
  color: #fcfbfa;
}

.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);

    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);

    opacity: 1;
  }
}

#cook-header {
  background: url('https://www.rachaelrayshow.com/sites/default/files/styles/sitemap_video_thumbnail/public/images/2014-05/1749985694001_3578125766001_8171-GrantCookies-800.jpg?itok=-nso_icV')
  no-repeat center;
  background: cover;
  min-height: 320px;
  background-position: right;
  position: relative;
}

.cook-types {
  text-align: center;
  margin-top: 6%;
  color: #fcfbfa;
}

.tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

#cup-header {
  background: url('https://s24597.pcdn.co/wp-content/uploads/2016/12/citrus-cream-frosted-orange-spice-cupcakes.jpg') no-repeat center;
  background: cover;
  min-height: 350px;
  position: relative;
}

.cup-types {
  text-align: center;
  margin-top: 8%;
  color: #fcfbfa;
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);

    opacity: 1;
  }
}

.card {
  border-radius: 0;
}

/******************* Cart Buttons ******************/

#muffbtn-1, #muffbtn-2, #muffbtn-3 {
  margin-left: 40%;
  margin-top: 10%;
  color: white;
  background-color: #694E34;
  border-radius: 5px;
  z-index: 3;
}

#muffbtn-1:hover, #muffbtn-2:hover,
#muffbtn-3:hover {
  background-color: #E8AD74;
}

#cookbtn-1, #cookbtn-2 {
  margin-left: 40%;
  margin-top: 10%;
  color: white;
  background-color: #694E34;
  border-radius: 5px;
}


#cookbtn-3 {
  margin-left: 40%;
  margin-top: 12%;
  color: white;
  background-color: #694E34;
  border-radius: 5px;
}
#cookbtn-1:hover, #cookbtn-2:hover,
#cookbtn-3:hover {
  background-color: #E8AD74;
}

#cupbtn-1, #cupbtn-2 {
  margin-left: 40%;
  margin-top: 10%;
  color: white;
  background-color: #694E34;
  border-radius: 5px;
  z-index: 3;
}

#cupbtn-3 {
  margin-left: 40%;
  margin-top: 7%;
  color: white;
  background-color: #694E34;
  border-radius: 5px;
  z-index: 3;
}

#cupbtn-1:hover, #cupbtn-2:hover,
#cupbtn-3:hover {
  background-color: #E8AD74;
}
